{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <img width="30" src="{% static 'images/python.icon.png' %}" alt="python_icon" class="navbar-brand img-fluid mr-2">
        <a class="navbar-brand" href="/">Django Marketplace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
                <li class="nav-item dropdown">
                    <button class="nav-link active dropdown-toggle" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</button>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        {% for category in nav_categories %}
                        <li><a class="dropdown-item" href="{% url 'category' category.id %}">{{category.name}}</a></li>
                        {% empty %}
                        <li><a class="dropdown-item">Proximamente</a></li>
                        <li><a class="dropdown-item">más</a></li>
                        <li><a class="dropdown-item">categorías</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'about-us' %}">Sobre nosotros</a></li>
            </ul>
            <form class="d-flex">
                {% if not request.user.is_authenticated %}
                <button type="button" class="btn btn-outline-dark me-1" data-bs-toggle="modal" data-bs-target="#signIn">
                    <i class="bi-person-circle"></i>
                    Usuario
                </button>
                {% else %}
                {% if request.user.is_staff %}
                <a type="button" class="btn order-1 btn-outline-dark ms-1" href="{% url 'admin:index' %}">
                    <i class="bi-wrench-adjustable"></i>
                    Panel Admin
                </a>
                {% endif %}
                <a type="button" class="btn order-1 btn-outline-dark ms-1" href="/auth/sign-out/?next={{request.path}}">
                    <i class="bi-door-open-fill"></i>
                    Salir
                </a>
                {% endif %}
                <a class="{% if not request.user.is_authenticated %} loginRequired {% endif %} btn btn-outline-dark" href="{% url 'checkout' %}">
                    <i class="bi-cart-fill me-1"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{cart_products}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>