{% extends 'base.html' %}
{% load static %}
{% load store_extras %}

{% block title %} Carrito de compras {% endblock %} 

{% block content %}
<section class="h-100 h-custom" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3">
                  <a href="/" class="link-underline link-underline-opacity-0"><i
                      class="bi bi-arrow-left me-2"></i>Seguir comprando</a>
                </h5>
                <hr />

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Carritos de compra</p>
                    <p class="mb-0">Tienes {{count}} producto(s) en tu carro</p>
                  </div>
                </div>

                {% for checkout_product, product in checkout_products %}
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img src="/media/{{product.photo}}" class="img-fluid rounded-3" alt="Shopping item"
                            style="width: 65px" />
                        </div>
                        <div class="ms-3">
                          <h5>{{product.name}}</h5>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <a href="{% url 'add-purchase' checkout_product.id %}" class="text-primary me-3"><i
                            class="bi bi-plus"></i></a>
                        <a href="{% url 'reduce-purchase' checkout_product.id %}" class="text-danger"><i
                            class="bi bi-dash"></i></a>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div class="w-50">
                          <h5 class="fw-normal mb-0">
                            {{checkout_product.quantity}}
                          </h5>
                        </div>
                        <div style="width: 80px">
                          <h5 class="mb-0">${{product.price}}</h5>
                        </div>
                        <a href="{% url 'delete-product' checkout_product.id %}" class="text-danger"><i
                            class="bi bi-trash-fill"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

              <div class="col-lg-5">
                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <h5 class="mb-0">Información de Pago</h5>
                    </div>

                    <form id="payment-form" action="{% url 'charge' %}" method="POST" class="mt-4">
                      {% csrf_token %}

                      <div id="card-error" class="my-3 alert alert-danger alert-dismissible" role="alert" hidden>
                        <div id="error-message"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>

                      {% if not key %}
                      <img width="450" class="img-fluid" src="{% static 'images/empty/empty.img' %}">
                      {% else %}
                      <img width="120" class="img-fluid text-center" src="{% static 'images/card.img.png' %}">
                      {% endif %}

                      <div class="mt-2" id="card-element">
                      </div>

                      <hr class="my-4" />

                      {% if count > 0 %}
                      <div class="d-flex justify-content-between">
                        <p class="mb-2 fw-bold fs-2">Total</p>
                        <p class="mb-2 fs-2">${{subtotal}}</p>
                      </div>

                      <button type="submit" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <span>Pagar Carrito<i class="bi bi bi-arrow-right ms-2"></i></span>
                        </div>
                      </button>
                    </form>

                    {% else %}
                    <div class="d-flex flex-column justify-content-between">
                      <p class="mb-2">
                        Vaya, parece que no tienes nada en el carrito...
                      </p>
                      <p class="mb-2">¡Deberías revisar el catalogo!</p>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    var stripe = Stripe("{{key}}");
    var elements = stripe.elements({
      clientSecret: "{{client_secret}}"
    });
    // Customize which fields are collected by the Payment Element
    var paymentElement = elements.create('payment', {
      fields: {
        billingDetails: {
          name: 'never',
          email: 'never',
        }
      }
    });
    var addressElement = elements.create('address', {
      mode: 'shipping'
    });
    paymentElement.mount("#card-element");

    // If you disable collecting fields in the Payment Element, you
    // must pass equivalent data when calling `stripe.confirmPayment`.
    var form = document.getElementById("payment-form");
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      form.disabled = true;

      stripe.confirmPayment({
        elements,
        confirmParams: {
          return_url: "{{return_url}}",
          payment_method_data: {
            billing_details: {
              name: '{{request.user.email|email_cut}}',
              email: '{{request.user.email}}',
            }
          },
        },
      }).then(function (result) {
        if (result.error) {
          // Inform the customer that there was an error.
          $("#card-error").removeAttr("hidden");
          $("#error-message").text(result.error.message);
        }
      });
    });
  })
</script>
{% endblock %}
