{% extends 'base.html' %}
{% load static %}

{% block title %} Django Marketplace {% endblock %}

{% block content %}
<!-- Background Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">🦎 Marketplace</h1>
            <p class="lead fw-normal text-white-50 mb-0">¡✨ Nuestra tienda, compra con estilo!</p>
        </div>
    </div>
</header>
<!-- Products Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Product Template -->
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product Image Template-->
                    <img height="400" class="card-img-top" src="media/{{product.photo}}" alt="{{product.name}}" />
                    <!-- Product Details Template -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product Name Template -->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product Price Template -->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product Actions Templat e-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">Check now</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Django Commerce 2023</p></div>
</footer>
{% endblock %}