{% extends 'base.html' %}
{% load static %}

{% block title %} Django Marketplace {% endblock %}

{% block content %}
<!-- Background Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">🦎🛍️ {{category_name}}</h1>
            <p class="lead fw-normal text-white-50 mb-0">¡✨ Nuestra tienda, compra con estilo!</p>
        </div>
    </div>
</header>
<!-- Products Section-->
<section class="py-5">
    <div>
        <div class="container px-4 px-lg-5 d-flex">
            <button class="btn btn-outline-dark dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar por</button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item"><a class="nav-link" href="?price_order=asc">Precio: Menor a mayor</a></li>
                <li class="dropdown-item"><a class="nav-link" href="?price_order=des">Precio: Mayor a menor</a></li>
            </ul>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
            <!-- Product Template -->
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product Image Template-->
                    <img 
                    class="card-img-top" 
                    style="height: 300px; object-fit: scale-down;" 
                    src="/media/{{product.photo}}" 
                    alt="{{product.name}}" 
                    />
                    <!-- Product Details Template -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product Name Template -->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product Price Template -->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product Actions Templat e-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark fw-bolder mt-auto" href="{% url 'product' product.id %}">Check now</a></div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="w-100 mb-3 text-center">
                <img width="600" class="img-fluid" src="{% static 'images/empty/empty2.img' %}">
                <h4 class="py-4">Estamos preparando las mejores ofertas para ti, solo debes esperar un poco más</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}